SoapAsync/ClienteSoapAsync/src/META-INF/wsdl/localhost_8080/SoapAsyncWsService/SoapAsyncWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="obtenerFactura" type="tns:obtenerFactura"/>

<xs:element name="obtenerFacturaResponse" type="tns:obtenerFacturaResponse"/>

<xs:element name="procesarFactura" type="tns:procesarFactura"/>

<xs:element name="procesarFacturaResponse" type="tns:procesarFacturaResponse"/>

<xs:complexType name="procesarFactura">
<xs:sequence>
<xs:element name="arg0" type="tns:factura" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factura">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="importe" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="procesarFacturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerFactura">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerFacturaResponse">
<xs:sequence>
<xs:element name="return" type="tns:factura" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>